PUBLIC_BASE_URL=https://publish-everywhere.halowebsites.com
PUBLIC_BACKEND_URL=https://publish-everywhere.halowebsites.com/api
DISABLE_POSTIZ_MCP=false
OPENAI_APP_CHALLANGE=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
JWT_SECRET=
OPENAI_API_KEY=
EMAIL_PROVIDER=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=
RESEND_API_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=
THREADS_APP_ID=
THREADS_APP_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
X_API_KEY=
X_API_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
CLOUDFLARED_CREDENTIALS_FILE=/path/to/.cloudflared/your-tunnel-credentials.json
